<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ relative_path }}index.html">Explore Austin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ relative_path }}activities.html">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ relative_path }}restaurants.html">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ relative_path }}murals.html">Murals</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Landmarks
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for x in austin.landmarks %}
            <li><a class="dropdown-item" href="{{ relative_path }}landmarks/{{ x.slug }}.html">{{ x.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{# <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Austin Guide</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{{ relative_path }}activities.html">Activites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ relative_path }}murals.html">Murals</a>
        </li>
      </ul>
    </header>
  </div> #}