{% extends '_templates/base.njk' %}

{% block page_title %}Activities{% endblock %}

{% block page_description %}A list of all the activities you can do in Austin.{% endblock %}

{% block content %}


<div class="container">

  <h1>Activities</h1>
  <p>Down below you’ll find a table that provides a comprehensive list of activities you can partake in when visiting Austin. This table serves as a guide to help you explore the vibrant city. Each activity listed offers a unique experience, showcasing the diverse culture and lifestyle of Austin. Use this as your go-to resource for planning an exciting itinerary in Austin.</p>


  <table style="border-collapse: collapse; width: 100%; border: 1px solid #ddd;">
    <thead>
      <tr style="background-color: #f2f2f2;">
        <th style="border: 1px solid #ddd; padding: 10px;">Activity</th>
        <th style="border: 1px solid #ddd; padding: 10px;">Date/Time</th>
        <th style="border: 1px solid #ddd; padding: 10px;">Address</th>
      </tr>
    </thead>
    <tbody>
      {% for y in austin.activities %}
        <tr style="border-bottom: 1px solid #ddd;">
          <td style="border: 1px solid #ddd; padding: 10px;"><a href="{{ y.url }}">{{ y.activity }}</a></td>
          <td style="border: 1px solid #ddd; padding: 10px;">{{ y.date_time }}</td>
          <td style="border: 1px solid #ddd; padding: 10px;">{{ y.address }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>

{% endblock %}