{% extends '_templates/base.njk' %}

{% block page_title %}Activities{% endblock %}

{% block page_description %}A list of all the activities you can do in Austin.{% endblock %}

{% block content %}
<article class="container">
  <h1>Activities</h1>
  <p>A list of all the activities you can do in Austin.</p>


  <div class="row m-1">
    {% for x in austin.activities %}
      <div class="col-sm-6">

        <div class="card mb-4 mx.auto">
          <div class="row g-0 flex-lg-row">
            {# <div class="col-md-4 flex-lg-column">
              <img src="img/landmarks/{{ x.image }}" class="img-fluid rounded-start w-100" alt="..." style="height: calc(40vh - 50px); width: calc(60vw - 50px); object-fit: cover;">
            </div> #}
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ x.activity }}</h5>
                <p class="card-text">{{ x.date_time}}</p>
                <p class="card-text"><small class="text-body-secondary">{{ x.address}}</small></p>
                {# <a href="{{ x.slug }}.html" class="btn btn-primary">{{ x.name }}</a> #}
              </div>
            </div>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
  
</article>

{% endblock %}