{% extends '_templates/base.njk' %}

{% block page_title %}Murals{% endblock %}

{% block page_description %}A list of all the murals you can visit in Austin.{% endblock %}

{% block content %}

<div class="container">

  <h1>Murals</h1>
  <p>Down below you’ll find a table that provides a comprehensive list of activities you can partake in when visiting Austin. This table serves as a guide to help you explore the vibrant city. Each activity listed offers a unique experience, showcasing the diverse culture and lifestyle of Austin. Use this as your go-to resource for planning an exciting itinerary in Austin.</p>


  <table style="border-collapse: collapse; width: 100%; border: 1px solid #ddd;">
    <thead>
      <tr style="background-color: #f2f2f2;">
        <th style="border: 1px solid #ddd; padding: 10px;">Mural</th>
        <th style="border: 1px solid #ddd; padding: 10px;">Latitude</th>
        <th style="border: 1px solid #ddd; padding: 10px;">Longitude</th>
      </tr>
    </thead>
    <tbody>
      {% for y in austin.murals %}
        <tr style="border-bottom: 1px solid #ddd;">
          <td style="border: 1px solid #ddd; padding: 10px;"><a href="{{ y.map_location }}">{{ y.name }}</a></td>
          <td style="border: 1px solid #ddd; padding: 10px;">{{ y.latitude }}</td>
          <td style="border: 1px solid #ddd; padding: 10px;">{{ y.longitude }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>

{% endblock %}